@{
    ViewData["Title"] = "Tic Tac Toe";
}

    <div class="text-center">
        <h1 class="display-4">Play</h1>
        <p><a class="navbar-brand" asp-area="" asp-controller="TicTacToe" asp-action="Create" asp-route-bot="RandomBot">Play RandomBot</a></p>
        <p><a class="navbar-brand" asp-area="" asp-controller="TicTacToe" asp-action="Create" asp-route-bot="MinMaxBot">Play MinMaxBot</a></p>
    </div>
