@using KaimGames.TicTacToe.Common;

@model TicTacToeGameViewModel
@{
    ViewBag.Title = "Play";
}

<h2>
    @if (Model.Game.IsXWin)
    {
        <span>You won!</span>
    }
    else if (Model.Game.IsOWin)
    {
        <span>You lost!</span>
    }
    else if (Model.Game.IsTie)
    {
        <span>You tied!</span>
    }
    else
    {
        <span>Play!</span>
    }
</h2>
<div class="container">
    @for (int row = 0; row < 3; row++)
    {
        <div class="row">
            @for (int column = 0; column < 3; column++)
            {
                <div class="col-sm-1 text-center tictactoe-cell">
                    @if (Model.Game.Board.IsEmptyAt(row, column))
                    {
                        if (!Model.Game.IsOver)
                        {
                            <a asp-action="Mark" asp-controller="TicTacToe" asp-route-row="@row" asp-route-column="@column">Mark</a>
                        }
                    }
                    else if (Model.Game.Board.IsXAt(row, column))
                    {
                        <strong>X</strong>
                    }
                    else
                    {
                        <strong>O</strong>
                    }
                </div>
            }
        </div>
    }

</div>
