@{
    ViewData["Title"] = "CodeBreaker";
}

<div class="text-center">
    <h1 class="display-4">Play</h1>
    <p><a class="navbar-brand" asp-area="" asp-controller="CodeBreaker" asp-action="CreateEasy">Easy (3x3)</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="CodeBreaker" asp-action="CreateMedium">Medium (5x5)</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="CodeBreaker" asp-action="CreateHard">Hard (7x7)</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="CodeBreaker" asp-action="CreateExpert">Expert (10x10)</a></p>
</div>
