/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.front-page-card {
    width: 18rem;
    margin-top: 10px;
}

/* Start CodeBreaker */

.codebreaker-option {
    font-family: 'Lato', 'Font Awesome 5 Free';
    font-weight: bolder;
    font-size: large;
}

.codebreaker-option-1 {
    color: green
}

.codebreaker-option-2 {
    color: red
}

.codebreaker-option-3 {
    color: blue
}

.codebreaker-option-4 {
    color: black
}

.codebreaker-option-5 {
    color: purple
}

.codebreaker-option-6 {
    color: brown
}

.codebreaker-option-7 {
    color: aqua
}

.codebreaker-option-8 {
    color: magenta
}

.codebreaker-option-9 {
    color: gold
}

.codebreaker-option-0 {
    color: forestgreen
}

.codebreaker-correct-exact {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.codebreaker-correct-wrong-location {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

/* End CodeBreaker */

/* Start Minesweeper */

.minesweeper-row {
    white-space: nowrap;
}

.minesweeper-cell {
    height: 40px;
    width: 40px;
    padding-top: 8px;
    margin-left: -5px;
    /*margin-bottom: 4px; /* This is a hack to be consistent with the 4px between horizontal cells. */
    display: inline-block;
    border: 1px solid sandybrown;
}

.minesweeper-cell-pristine {
    background-color: rgba(0, 0, 0, .1);
}

.minesweeper-cell-flagged {
    background-color: rgba(255, 255, 0, .1);
}

.minesweeper-cell-flagged-correctly {
    background-color: rgba(0, 255, 0, .1);
}

.minesweeper-cell-flagged-incorrectly {
    background-color: rgba(255, 0, 0, .1);
}

.minesweeper-cell-mine {
    background-color: rgba(255, 0, 0, .1);
}

.minesweeper-cell-0 {
    background-color: rgba(255, 255, 255, .7);
}

.minesweeper-cell-1 {
    background-color: rgba(0, 255, 0, .1);
}

.minesweeper-cell-2 {
    background-color: rgba(0, 0, 255, .1);
}

.minesweeper-cell-3 {
    background-color: rgba(255, 0, 255, .1);
}

.minesweeper-cell-4 {
    background-color: rgba(0, 255, 255, .1);
}

.minesweeper-cell-5 {
    background-color: rgba(255, 255, 0, .1);
}

.minesweeper-cell-6 {
    background-color: rgba(160, 160, 160, .1);
}

.minesweeper-cell-7 {
    background-color: rgba(80, 80, 80, .1);
}

.minesweeper-cell-8 {
    background-color: rgba(0, 0, 0, .1);
}

/* End Minesweeper */


/* Start Tic Tac Toe */

.tictactoe-cell {
    height: 100px;
    font-size: xx-large;
}

.tictactoe-mark {
    color: green;
}

/* End Tic Tac Toe */


/* Start Video Poker */

table td.videopoker-card-td {
    padding: 2px;
}

.videopoker-card {
    margin: 0px;
    padding: 5px;
}

.videopoker-card-selected {
    background-color: blue;
}

.videopoker-card-used {
    background-color: green;
    margin: -5px;
    padding: 5px;
}

/* End Video Poker */